<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.xys.libzxing" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:theme="@style/AppTheme">
        <activity
            android:label="将条吗/二维码置于框内"
            android:name=".zxing.activity.CaptureActivity"/>
    </application>
</manifest>