<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androiderp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.homeview.LoginView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.homeview.HomeView">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".utili.SenHome"></activity>
        <activity
            android:name=".activities.basicfrom.CustomForm"
            android:launchMode="singleTop"></activity>
        <activity android:name=".activities.basicview.SupplierView"></activity>
        <activity android:name=".activities.basicview.CustomMoreView"></activity>
        <activity android:name=".activities.salesview.SaleView"></activity>
        <activity android:name=".activities.salesview.SaleEntyView"></activity>
        <activity android:name=".activities.basicview.ProductAppropriationView"></activity>
        <activity android:name=".activities.warehouseview.AppropriationView"></activity>
        <activity android:name=".activities.warehouseview.AppropriationEntyView"></activity>
        <activity android:name=".activities.warehouseview.StockTakingView"></activity>
        <activity android:name=".activities.warehouseview.StockTakingEntyView"></activity>
        <activity android:name=".activities.warehouseview.InventoryView"></activity>
        <activity android:name=".activities.warehouseview.InventoryEntyView"></activity>
        <activity android:name=".activities.warehouseview.StockIntentView"></activity>
        <activity android:name=".activities.basicview.ProductSearchView"></activity>
        <activity android:name=".activities.salesview.SaleSearchView"></activity>
        <activity android:name=".activities.homeview.HomeMoreView"></activity>
        <activity android:name=".activities.purchaseview.PurchaseSearchView"></activity>
        <activity android:name=".activities.warehouseview.InventorySearchView"></activity>
        <activity android:name=".activities.purchaseview.ProductStockTakingView"></activity>
        <activity android:name=".activities.basicview.CustomSearchView"></activity>
        <activity android:name=".activities.basicview.SupplierCategoryView"></activity>
        <activity android:name=".activities.basicview.CustomCategoryView"></activity>
        <activity android:name=".activities.basicfrom.SupplierCategoryForm"></activity>
        <activity android:name=".activities.basicfrom.CustomCategoryForm"></activity>
        <activity android:name=".activities.warehouseform.AppropriationShoppingForm"></activity>
        <activity android:name=".activities.basicfrom.ProductCategoryForm"></activity>
        <activity android:name=".activities.purchaseform.ReturnPurchaseProductForm"></activity>
        <activity android:name=".activities.salesfrom.SaleReturnForm"></activity>
        <activity android:name=".activities.warehouseform.StockTakingForm"></activity>
        <activity android:name=".activities.basicfrom.UnitForm"></activity>
        <activity android:name=".activities.basicfrom.StockForm"></activity>
        <activity android:name=".activities.basicfrom.SupplierForm"></activity>
        <activity android:name=".activities.purchaseform.PurchaseProductForm"></activity>
        <activity android:name=".activities.basicfrom.ProductForm"></activity>
        <activity android:name=".activities.purchaseform.ShoppingProductForm"></activity>
        <activity android:name=".activities.warehouseform.AppropriationForm"></activity>
        <activity android:name=".activities.basicfrom.EmployeeForm"></activity>
        <activity android:name=".activities.basicfrom.ConsignmentForm"></activity>
        <activity android:name=".activities.salesfrom.ShoppingScrennForm"></activity>
        <activity android:name=".activities.basicfrom.BrandForm"></activity>
        <activity android:name=".activities.accountsform.AccountForm"></activity>
        <activity android:name=".activities.accountsform.TallyForm"></activity>
        <activity android:name=".activities.accountsform.AccountsForm"></activity>
        <activity android:name=".activities.accountsform.BalanceAccountForm"></activity>
        <activity android:name=".activities.basicview.ProductMoreView"></activity>
        <activity android:name=".activities.basicview.ProductSelectView"></activity>
        <activity android:name=".activities.warehouseview.StockInitiView"></activity>
        <activity android:name=".activities.basicview.ConsignmentView"></activity>
        <activity android:name=".activities.accountsview.AccountsView"></activity>
        <activity android:name=".activities.accountsview.TallyExpandableView"></activity>
        <activity android:name=".activities.accountsview.TallyAccountsEntyView"></activity>
        <activity android:name=".activities.basicview.SupplierMoreView"></activity>
        <activity android:name=".activities.basicview.EmployeeView"></activity>
        <activity android:name=".activities.basicview.SupplierSelectView"></activity>
        <activity android:name=".activities.basicview.StockListView"></activity>
        <activity android:name=".activities.purchaseview.PurchaseView"></activity>
        <activity android:name=".activities.purchaseview.PurchaseEntyView"></activity>
        <activity android:name=".activities.accountsview.BalanceAccountView"></activity>
        <activity android:name=".activities.basicview.ProductCategoryView"></activity>
        <activity android:name=".activities.basicview.CustomSelectView"></activity>
        <activity android:name=".activities.basicview.UnitListView"></activity>
        <activity android:name=".activities.basicview.BrandView"></activity>

        <activity
            android:name=".scanning.CommonScanActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity android:name=".activities.salesfrom.SaleForm"></activity>

    </application>

</manifest>