<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androiderp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.ErpHome">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".utili.SenHome"></activity>
        <activity
            android:name=".form.CustomForm"
            android:launchMode="singleTop"></activity>
        <activity android:name=".basicdata.CustomListView"></activity>
        <activity android:name=".basicdata.SupplierListView"></activity>
        <activity android:name=".basicdata.CustomTowListView"></activity>
        <activity android:name=".basicdata.SaleOutListView"></activity>
        <activity android:name=".basicdata.SaleOutEntyList"></activity>
        <activity android:name=".basicdata.ProductAppropriationListView"></activity>
        <activity android:name=".basicdata.AppropriationListView"></activity>
        <activity android:name=".basicdata.AppropriationEntyList"></activity>
        <activity android:name=".basicdata.StockTakingListView"></activity>
        <activity android:name=".basicdata.StockTakingEntyList"></activity>
        <activity android:name=".basicdata.InventoryListView"></activity>
        <activity android:name=".basicdata.InventoryEntyList"></activity>
        <activity android:name=".basicdata.StockIntentListview"></activity>
        <activity android:name=".basicdata.EmployeeIntentListview"></activity>
        <activity android:name=".basicdata.ProductSearchListView"></activity>
        <activity android:name=".basicdata.SaleOutSearchListView"></activity>
        <activity android:name=".basicdata.HomeMoreListView"></activity>
        <activity android:name=".basicdata.SupplierOutSearchListView"></activity>
        <activity android:name=".basicdata.InventorySearchListView"></activity>
        <activity android:name=".basicdata.ProductStockTakingListView"></activity>
        <activity android:name=".basicdata.CustomSearchListView"></activity>
        <activity android:name=".basicdata.SupplierCategoryListView"></activity>
        <activity android:name=".basicdata.CustomCategoryListView"></activity>
        <activity android:name=".form.SupplierCategoryForm"></activity>
        <activity android:name=".form.CustomCategoryForm"></activity>
        <activity android:name=".form.AppropriationShoppingForm"></activity>
        <activity android:name=".form.ProductCategoryForm"></activity>
        <activity android:name=".form.ReturnPurchaseProductForm"></activity>
        <activity android:name=".form.ReturnSaleProductForm"></activity>
        <activity android:name=".form.BrandForm"></activity>
        <activity android:name=".form.StockTakingForm"></activity>
        <activity android:name=".form.UnitForm"></activity>
        <activity android:name=".form.StockForm"></activity>
        <activity android:name=".form.SupplierForm"></activity>
        <activity android:name=".form.PurchaseProductForm"></activity>
        <activity android:name=".form.ProductForm"></activity>
        <activity android:name=".form.ProductShoppingForm"></activity>
        <activity android:name=".form.AppropriationForm"></activity>
        <activity android:name=".form.EmployeeForm"></activity>
        <activity android:name=".form.ConsignmentForm"></activity>
        <activity android:name=".form.ScrennProductShoppingForm"></activity>
        <activity android:name=".form.TestUserForm"></activity>
        <activity android:name=".form.AccountForm"></activity>
        <activity android:name=".form.TallyForm"></activity>
        <activity android:name=".form.AccountsForm"></activity>
        <activity android:name=".form.BalanceAccountForm"></activity>
        <activity android:name=".basicdata.ProductTowListView"></activity>
        <activity android:name=".basicdata.ProductBadgeListView"></activity>
        <activity android:name=".basicdata.StockInitiListView"></activity>
        <activity android:name=".basicdata.ConsignmentListview"></activity>
        <activity android:name=".basicdata.BrandListView"></activity>
        <activity android:name=".basicdata.AccountsListView"></activity>
        <activity android:name=".basicdata.TallyExpandableListView"></activity>
        <activity android:name=".basicdata.TallyAccountsEntyList"></activity>
        <activity android:name=".basicdata.BrandBadgeListView"></activity>
        <activity android:name=".basicdata.SupplierTowListView"></activity>
        <activity android:name=".basicdata.EmployeeListview"></activity>
        <activity android:name=".basicdata.SelectSupplierListView"></activity>
        <activity android:name=".basicdata.StockListView"></activity>
        <activity android:name=".basicdata.PurchaseOutListView"></activity>
        <activity android:name=".basicdata.PurchaseOutEntyList"></activity>
        <activity android:name=".basicdata.BalanceAccountListView"></activity>
        <activity android:name=".basicdata.ProductCategoryListview"></activity>
        <activity android:name=".basicdata.SelectCustomListView"></activity>
        <activity android:name=".basicdata.UnitListView"></activity>
        <activity android:name=".basicdata.TestUserListView"></activity>

        <activity
            android:name=".scanning.CommonScanActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity android:name=".form.SaleProductForm"></activity>

    </application>

</manifest>