<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androiderp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        \
        <activity android:name=".activities.homeview.LoginView"

                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.homeview.HomeView"

            android:screenOrientation="portrait"
            >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.basicfrom.CustomForm"

            android:screenOrientation="portrait"
            ></activity>

        <activity android:name=".activities.basicview.CustomMoreView"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.salesview.SaleView"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.salesview.SaleEntyView"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.basicview.ProductAppropriationView"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.warehouseview.RequisitionView"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.warehouseview.RequisitionEntyView"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.warehouseview.StockTakingView"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.warehouseview.StockTakingEntyView"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.warehouseview.InventoryView"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.warehouseview.InventoryEntyView"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.basicview.ProductSearchView"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.salesview.SaleSearchView"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.homeview.HomeMoreView"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.purchaseview.PurchaseSearchView"

            android:screenOrientation="portrait"></activity>

        <activity android:name=".activities.warehouseview.InventorySearchView"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.purchaseview.ProductStockTakingView"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.basicview.CustomSearchView"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.basicfrom.CustomCategoryForm"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.warehouseform.AppropriationShoppingForm"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.basicfrom.ProductCategoryForm"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.purchaseform.PurchaseReturnForm"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.salesfrom.SaleReturnForm"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.warehouseform.StockTakingForm"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".basic.BasicForm"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.purchaseform.PurchaseForm"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.basicfrom.ProductForm"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.purchaseform.ShoppingForm"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.warehouseform.AppropriationForm"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.salesfrom.ShoppingScrennForm"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.accountsform.AccountForm"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.accountsform.TallyForm"

            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.accountsform.AccountsForm"

            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.accountsform.BalanceAccountForm"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.basicview.ProductMoreView"

            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.basicview.ProductSelectView"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.warehouseview.StockInitiView"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.accountsview.AccountsView"

            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.accountsview.TallyExpandableView"

            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.accountsview.TallyAccountsEntyView"

            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activities.purchaseview.PurchaseView"

            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.purchaseview.PurchaseEntyView"

            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.accountsview.BalanceAccountView"

            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.basicview.CustomSelectView"

            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".basic.BasicView"
            android:screenOrientation="portrait">
        </activity>
       <activity android:name=".scanning.CommonScanActivity"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar"
           android:screenOrientation="portrait"/>

        <activity android:name=".activities.salesfrom.SaleForm"

            android:screenOrientation="portrait">
        </activity>


    </application>

</manifest>